/* Generic Styles */
h1 {
    font-family: "Arial", sans-serif;
    margin-left: 10px;
}

p {
    font-family: "Arial", sans-serif;
    margin-left: 10px;
}

div {
    font-family: "Arial", sans-serif;
    margin-left: 10px;
}

button {
    background-color: #83ccff;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input {
    background-color: white;
}

#wrapper {
    margin: 0px 100px;
}

/* Styling for the chat screen */
#chat-header {
	width: 500px;
    margin: 10px;
}

#chat-header-alexa {
	float: left;
}

#chat-header-you {
	float: right;
}

/* For the box containing the conversation w/Alexa */
#chat-box {
	width: 500px;
	height: 300px;
	/* Make it scroll instead of growing in size when it
	gets full */
	overflow: auto;
}

/* The box that displays the contents of the Show screen */
#show-screen-div {
	width: 768px;
	height: 635px;
}

.card {
    box-shadow: 1px 1px 8px grey;
    margin: 10px;
}
.message-box {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    max-width: 80%;
    clear: both;
}

.user-message-box {
    float: right;
    background-color: #ffbd54;
}

.alexa-message-box {
    float: left;
    background-color: #a5daff;
}

#dialog-box {
    border: none;
    border-radius: none;
    padding: 4px;
    width: 400px;
}
