/* Styling for the chat screen */
#chat-header {
	width: 500px;
}

#chat-header-alexa {
	float: right;
}

#chat-header-you {
	float: left;
}

/* For the box containing the conversation w/Alexa */
#chat-box {
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	/* Make it scroll instead of growing in size when it
	gets full */
	overflow: auto;
}

/* The box that displays the contents of the Show screen */
#show-screen {
	width: 768px;
	height: 462px;
	border: 1px solid #000;
}

.user-message-box {
    text-align: left;
}

.alexa-message-box {
    text-align: right;
}
