/* Generic Styles */
h1 {
    font-family: "Arial", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
}

div {
    font-family: "Arial", sans-serif;
}

/* Styling for the chat screen */
#chat-header {
	width: 500px;
}

#chat-header-alexa {
	float: left;
}

#chat-header-you {
	float: right;
}

/* For the box containing the conversation w/Alexa */
#chat-box {
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	/* Make it scroll instead of growing in size when it
	gets full */
	overflow: auto;
}

/* The box that displays the contents of the Show screen */
#show-screen {
	width: 768px;
	height: 462px;
	border: 1px solid #000;
}

.message-box {
    padding: 10px;
    max-width: 400px;
    clear: both;
}

.user-message-box {
    float: right;
    background-color: #ff7a7b;
}

.alexa-message-box {
    float: left;
    background-color: #7abdff;
}
